################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/6c5677c1-26ba-49f0-9a3d-7f8da1d6ec99.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/f00cf98e-caa0-4115-aafa-00ce7e31f073.vsidx
