################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/6c5677c1-26ba-49f0-9a3d-7f8da1d6ec99.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/f00cf98e-caa0-4115-aafa-00ce7e31f073.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/279322a7-cb46-4a5e-887d-9c4bb53f3340.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/c45e8746-da29-4384-88a3-29a3fdc3d81a.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/f4bff3ab-9346-4919-8632-f5f688a7e96e.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/70f7ecc7-ac6c-432f-ab37-ea3b165ff1fc.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/b22228c4-e4d1-41e9-940d-39063a931146.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/8941105f-5288-4bf1-869a-0607140b71d1.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/DesignTimeBuild/.dtbcache.v2
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/DesignTimeBuild/.dtbcache.v2
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/v17/.suo
/CSharPractExercisesSolution/CSharPractExercises/bin/Debug/net8.0/CSharPractExercises.dll
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/CSharPractExercises.sourcelink.json
/CSharPractExercisesSolution/D_OOP/bin/Debug/net8.0/D_OOP.dll
/CSharPractExercisesSolution/D_OOP/bin/Debug/net8.0/D_OOP.exe
/CSharPractExercisesSolution/D_OOP/bin/Debug/net8.0/D_OOP.pdb
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/6b2ee94d-388f-4944-a7d8-0953231ef3b1.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/b93f1891-2d3c-4060-832f-933d05c6272f.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/c28e54bb-7f2a-4332-81fa-73ab50466f8f.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/c92e5259-17de-47aa-a78f-8fb070662f26.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/FileContentIndex/ca7da2ef-9ea4-4b7a-a66e-4926b7cdbfd8.vsidx
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/v17/DocumentLayout.json
/CSharPractExercisesSolution/.vs/CSharPractExercisesSolution/v17/.suo
/CSharPractExercisesSolution/CorntrolFlow/obj/Debug/net8.0/CorntrolFlow.AssemblyInfo.cs
/CSharPractExercisesSolution/CorntrolFlow/obj/Debug/net8.0/CorntrolFlow.AssemblyInfoInputs.cache
/CSharPractExercisesSolution/CorntrolFlow/obj/Debug/net8.0/CorntrolFlow.csproj.CoreCompileInputs.cache
/CSharPractExercisesSolution/CorntrolFlow/obj/Debug/net8.0/CorntrolFlow.csproj.FileListAbsolute.txt
/CSharPractExercisesSolution/CorntrolFlow/obj/Debug/net8.0/CorntrolFlow.sourcelink.json
/CSharPractExercisesSolution/CSharPractExercises/bin/Debug/net8.0/CSharPractExercises.deps.json
/CSharPractExercisesSolution/CSharPractExercises/bin/Debug/net8.0/CSharPractExercises.exe
/CSharPractExercisesSolution/CSharPractExercises/bin/Debug/net8.0/CSharPractExercises.pdb
/CSharPractExercisesSolution/CSharPractExercises/bin/Debug/net8.0/CSharPractExercises.runtimeconfig.json
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/ref/CSharPractExercises.dll
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/refint/CSharPractExercises.dll
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/apphost.exe
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/CSharPractExercises.AssemblyInfo.cs
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/CSharPractExercises.AssemblyInfoInputs.cache
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/CSharPractExercises.csproj.CoreCompileInputs.cache
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/CSharPractExercises.csproj.FileListAbsolute.txt
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/CSharPractExercises.dll
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/CSharPractExercises.genruntimeconfig.cache
/CSharPractExercisesSolution/CSharPractExercises/obj/Debug/net8.0/CSharPractExercises.pdb
/CSharPractExercisesSolution/D_OOP/obj/Debug/net8.0/ref/D_OOP.dll
/CSharPractExercisesSolution/D_OOP/obj/Debug/net8.0/refint/D_OOP.dll
/CSharPractExercisesSolution/D_OOP/obj/Debug/net8.0/apphost.exe
/CSharPractExercisesSolution/D_OOP/obj/Debug/net8.0/D_OOP.AssemblyInfo.cs
/CSharPractExercisesSolution/D_OOP/obj/Debug/net8.0/D_OOP.AssemblyInfoInputs.cache
/CSharPractExercisesSolution/D_OOP/obj/Debug/net8.0/D_OOP.dll
/CSharPractExercisesSolution/D_OOP/obj/Debug/net8.0/D_OOP.pdb
/CSharPractExercisesSolution/D_OOP/obj/Debug/net8.0/D_OOP.sourcelink.json
